obj
bin
packages/*
!packages/repositories.config
*.user
*.vspscc
*.suo
*.vssscc
/.fake/build.fsx_6665AD7F.dll
/.fake/build.fsx_6665AD7F_config.xml
/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/.vs/Mozu.Api/v15/Server/sqlite3/storage.ide-wal
/.vs/Mozu.Api/v15/Server/sqlite3/storage.ide-shm
/.vs/Mozu.Api/v15/Server/sqlite3/storage.ide
/.vs/Mozu.Api/v15/Server/sqlite3/db.lock
