<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="TenantId" value="7912"/>
    <add key="ApplicationId" value="mzint.quickbooks.1.0.0.release" />
    <add key="SharedSecret" value="8a9a083b5a3349b5bdf4b804a1118ada" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>